*{
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-height: 100vh;
    background-color: hsl(235, 18%, 26%);
    font-family: "Roboto" , sans-serif;
}

.card{
    display: flex;
    width: 900px;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 2rem;
    
}

.left{
    width: 50%;
    padding-left: 1.5rem;

}

.right{
    width: 50%;
    margin-right: 0;

}

.right img{
    width: 100%;
    height: 100%

}

ul{
    list-style-image : url("./assets/images/icon-success.svg");
    padding: 1.5rem;
    
}  

li{
    margin-bottom: 10px;
    color:  hsl(234, 29%, 20%);

}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 60px;   
}

label{
    font-size: 12px;
    padding-bottom: 9px;
    font-family: inherit;
}

input{
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
}

input:hover{
    cursor: pointer;
}

button{
    display: flex;
    font-family: inherit;
    padding: 1rem;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    justify-content: center;
    color: #fff;
    border: 1px;
}

button:hover{
    background-image: linear-gradient(to right,hsl(352, 100%, 67%),hsl(4, 100%, 67%));
    cursor: pointer;
    box-shadow: 0px 15px 8px hsla(4, 100%, 47%, 0.286);

}

h1{
    font-size: 45px;
    color: hsl(234, 29%, 20%);
}

p{
    font-size: 16px;
    color:  hsl(234, 29%, 20%);
}

.card2{
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    padding: 3.8rem;
    border-radius: 2rem;
    width: 480px;
}

.card2 img{
    width: 55px;
}

.information{
    color:  hsl(234, 29%, 20%);
    padding-bottom: 1rem;
}

.btn2{
    display: flex;
    width: 100%;
}

#emailError{
    color: red;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.2rem;
}